
/* ------------------------- */
/* HEADER */
/* ------------------------- */

header {
  	background: #2f3045;
	color:#fff;
}

body {
	background: #181928;
}

.container{
	margin-top: 40px;
	color: white;
}

.warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.success {
    color: #155724;	
	background-color: #d4edda;
	border-color: #c3e6cb;
}

/* ------------------------- */
/* BODY */
/* ------------------------- */


.cont-columns {
	margin-top: 20px;	
	font-weight: bolder;
	width: 90%;
	max-width: 1400px;
	margin: auto;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto;
}


/** Column 1 */

.bg {
	height: 450px;
	width: 450px;
	background: url("../img/bg.png");
	border-radius: 15px;
	position: relative; 	
}



.personaje {
    height: 208px;
    width: 285px;
    background: url("../img/spritef.png");
	margin-top: 200px;

	position: absolute; 
    /** Movimiento */

    animation: screenmov 1.5s steps(3) infinite ;
}


@keyframes screenmov {
	0% {
    	background-position: 0px;
	}
	100% {
    	background-position: -855px;
	}
}

* { 
  margin: 0;
  padding: 0;
}


/** Column 2 */

.crud {
	margin-top: 30px;
	margin-left: 20px;
	color: white;
}

.titulo {
	text-align: center;	
}

table {
	background-color: #80755a;
	table-layout: fixed;
	cursor: pointer;	
}

 table th, table td { 
 	overflow: hidden; 
 }


/** Modal */

.btn {
	margin: 2px;
}



/* ------------------------- */
/* FOOTER */
/* ------------------------- */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2f3045;
  color: white;
  text-align: center;

  /* height: 60px; */
}